<h1 class="text-center">Bienvenidos a mi Sitio</h1>

<p>Mi nombre es Karina, y soy una fotografa profesional.
En este sitio web busco compartir las fotografias que llego a tomar y leer sus opiniones sobre ellas.
</p>

<p> si es posible, tambien busco ideas de que fotografias puedo tomar, asi que les agredeceria demasiado
si comentaran que cosas y/o paisajes podria fotografiar para compartirlas en este sitio :)
</p>

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "10.jpg", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "20.jpg", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "30.jpg", class:"d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
