<h1>Editing karticle</h1>

<%= render "form", karticle: @karticle %>

<br>

<div class="text-center">
  <%= link_to "Cancelar", @karticle, class:"btn btn-secondary" %> 
  <%= link_to "Volver al Inicio", karticles_path, class:"btn btn-secondary" %>
</div>
